.__admin {
    display: grid;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
}

.__users {
    margin: 2rem 0;
}
.__admin_component {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.__user__item {
    display: grid;
    text-align: left;    
    margin-bottom: 1.5rem;
    border: 2px solid orange;
    padding: 1rem 0.4rem;
    border-radius: 10px;
}

.__user__item_name {
    display: flex;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

.__user__item_info span {
    font-weight: bold;
}

.isAdmin {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.isAdmin button {
    border-radius: 5px;
}