*, *::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    
    --primary-hue: 180;
    --gray-hue: 150;
    --color-primary: hsl(var(--primary-hue), 80%, 40%);
    --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
    --color-secondary: #ff8716;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-gray-100);
    color: var(--color-gray-300);
    line-height: 1.7;
    overflow-x: hidden;
}


html{
    scroll-behavior: smooth; 
}

.container{
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1920px;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
    color: var(--color-secondary);
}
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2rem;
}
a{
    color: var(--color-gray-100);
    transition: var(--transition);
}
.payment_a{
    color: #419aee;
}
a:hover{
    color: var(--color-secondary);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn{
    color: var(--color-gray-100);
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: var(--color-primary);
    border-radius: 1.5rem;
    display: inline-block;
    transition: var(--transition);
    
}
.btn:hover{
    background: var(--color-secondary);
    color: var(--color-gray-600);
}
.btn.lg{
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.btn.sm{
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    border-radius: 0;
}
.btn.sm:hover{
    background: var(--color-secondary);
}



section{
    margin-top: 8rem;
}

.section__head2 h2{
    color: #aa7f3e;
    font-size: 1.3rem;
    font-weight: 400;
}
.section__head, .section__head2{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.section__head span, .section__head2 span{
    padding: 0.8rem;
    border-radius: 1rem;
    color: var(--color-secondary);
    font-size: 1.5rem;
}
.section__head2 span, .payment_h3 {
    color: #aa7f3e;
}

.card2{
    background: transparent;
    border: 2px solid;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 0 2.5rem 0 2.5rem;
    transition: var(--transition);
}
.card2:hover{
    border-color: #aa7f3e;
    cursor: default;
    background: transparent;
}

.card2:hover h4{
    color: var(--color-gray-500);
}

.card{
    background: var(--color-gray-500);
    border: 2px solid transparent;
    border-radius: 0 3rem 0 3rem;
    text-align: center;
    padding: 3rem 2rem;
    
    transition: var(--transition);
}
.card:hover{
    background: transparent;
    border-color: var(--color-gray-400);
    cursor: default;
    color: var(--color-gray-500);
}
.card span, .card2 span{
    width: 3rem;
    height: 3rem;
    background: var(--color-gray-500);
    color: var(--color-gray-100);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    transition: var(--transition);
}

.card:hover span, .card2:hover span{
    background: var(--color-secondary);
    color: var(--color-gray-600);
}
.card small{
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

.header__container{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background-color: black;
}
.header__container-bg{
    position: relative;
    width: 100%;
    height: 100vh;
}
.header__container-bg img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    opacity: 0.5;
}
.header__content h4{
    color: var(--color-gray-200);
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: 2px solid #aa7f3e;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 0 3rem 0 3rem;
    transition: var(--transition);

    /* text-transform: uppercase; */
}

.header__content h4:hover{
    border-color: var(--color-primary);
    cursor: default;
    background: transparent;
}
.header__content p{
    color: var(--color-gray-100);
    font-size: 1.4rem;
    margin-top: 2rem;
}

.header__content{
    position: absolute;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.90);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}






.header2{
    overflow: hidden;
    height: 20rem;
    border-bottom: 2px solid var(--color-gray-400);
}

.header2__container{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background-color: black;
}
.header2__container-bg{
    position: absolute;
    width: 100%;
}
.header2__container-bg img{
    opacity: 0.5;
}
.header2__content h2{
    margin-bottom: 1rem;
}
.header2__content p{
    color: var(--color-gray-100);
}

.header2__content{
    /* text-transform: uppercase; */
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    transform: scale(0.90);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes  scale {
    100%{
        transform: scale(1);
    }
}


/* ======MEDIA QUERIES (MEDIUM DEVICES) ======= */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .header2__content{
        width: 76%;
    }
    .header__content{
        width: 76%;
    }
}


/* ======MEDIA QUERIES (SMALL DEVICES) ======= */
@media screen and (max-width: 600px) {
   h1{
        font-size: 2.2rem;
        line-height: 1.3;
   }
   section{
        margin-top: 7rem;
   }
   .header2{
    height: fit-content;
    }
   .header2__content{
        width: var(--container-width-lg);
        padding: 3rem 0;
   }
   .header2__content p{
        font-size: 0.85rem;
   }
   .btnYoutube{
    padding: 2rem 1rem;
    border-radius: 0 3rem 0 3rem;
   }
} 

